<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>top</title>
<link th:href="@{/css/style.css}" rel="stylesheet" media="all" />
</head>

<body style="background:url(/images/topbg.gif) repeat-x;">

	<div class="topleft">
		<a href="main.html" target="_parent"><img src="/images/logo.png"
			title="系统首页" />
		</a>
	</div>
	
	<div class="topright">
		<div class="user">
			<span th:text="${session.admin.name}"></span>
		</div>
		<div>
			<ul>
				<li><a href="/account/logout" target="_parent">退出</a>
				</li>
			</ul>
		</div>
	</div>
	
</body>
</html>
